html{
    background-color: black;
}

h1, h2{
    font-family: "Dancing Script", cursive;
    color: white;
    text-align: center;

}

li{
    font-family: "Dancing Script", cursive;
    color:white;
    display: flex;
    justify-content: space-between;
}
.logo-title{
    display: flex;
    justify-content: center;
}
.logo{
    width: 600px;
}
.caffè,.birra,.croissant,.vino,.cocktail{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
@media (max-width: 600px) {
    h1{
        font-size: 6em;
    }
    h2{
        font-size: 5em;
    } 
    li{
        font-size: 4em;
    }
}
@media (min-width: 601px) {
    h1{
        font-size: 5em;
    }
    h2{
        font-size: 4em;
    }
    li{
        font-size: 3em;
        justify-content: space-between;
    }
}
.caffè{
    width: 80px;
    position: relative;
    left: 80vw;
    top: 30px;
}
.croissant{
    height: 90px; 
    position: relative;
    left: 80vw;
    top: 27px;
}
.birra{
    width: 90px;
    position: relative;
    left: 80vw;
    top: 16px; 
}
.vino{
    width: 90px;
    position: relative;
    left: 80vw;
    top: 14px; 

}
.cocktail{
    width: 80px;
    position: relative; 
    left: 82vw;
    top: 15px; 
}