html{
    background-color: black;
}

h1, h2{
    font-family: "Dancing Script", cursive;
    color: white;
    text-align: center;

}

li{
    font-family: "Dancing Script", cursive;
    color:white;
    display: flex;
    justify-content: space-between;
}
.caffè,.birra,.croissant,.vino,.cocktail{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
@media (max-width: 900px) {
    h1{
        font-size: 4em;
    }
    h2{
        font-size: 3em;
    } 
    li{
        font-size: 2em;
    }
}
@media (min-width: 901px) {
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 1.7em;
    }
    li{
        font-size: 1.3em;
        justify-content: space-between;
    }
}
.caffè{
    width: 50px;
    position: relative;
    left: 80vw;
    top: 25px;
}
.croissant{
    height: 60px; 
    position: relative;
    left: 80vw;
    top: 25px;
}
.birra{
    width: 60px;
    position: relative;
    left: 80vw;
    top: 16px; 
}
.vino{
    width: 60px;
    position: relative;
    left: 80vw;
    top: 14px; 

}
.cocktail{
    width: 50px;
    position: relative; 
    left: 82vw;
    top: 15px; 
}
